body {
    font-family: 'Times New Roman', Times, serif;
    color: white;
    size: 15px;
}

ul {
    text-decoration: wavy;
    color: yellow;
}

img {
   border: solid black 20px;

}

h1 {font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration: underline;
}

a {
    color: yellow;
    text-decoration: none;

}

a:hover {
    text-decoration: underline;
    color: goldenrod;
}

.footer {
    position: fixed;
    left: 0px;
    right: 0px;
    bottom: 0px;
    height: 50px;
    background-color: black;
}
.header {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    height: 100px;  
    background-color: black;
    font-size: 30px;
    z-index: 0;
}
.mainbody {
    position: absolute;
    left: 10px;
    right: 0px;
    top: 100px;
    padding-bottom: 50px;
}

.nav {
    float: right;
}
